.PageFrame2 {
    width: 65.4375rem;
    height: 30.25rem;
    border-radius: 1.5625rem;
    background: #EF9797;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.63rem;
}

.Statement {
    width: 41.75rem;
    height: 8.6875rem;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 121.017%; /* 3.02544rem */
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ButtonFrame2 {
    display: flex;
    justify-content: space-around;
    gap: 7.06rem;
}

.OkButton {
    width: 9.8125rem;
    height: 4.5625rem;
    fill: #FFEFEF;
    border-width: 1px;
    border-color: #BE3434;
    color: #DB5151;
    text-align: center;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 121.017%; /* 2.72288rem */
    letter-spacing: 0.045rem;
    border-radius: 1.56rem; 
}

button:hover {
    filter: brightness(90%);
    cursor: pointer;
}